/* login */

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto+Slab&display=swap');



.login-section{
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 70vh;
  transform: translateY(20%);
}

.input{
  border-top: 0px;
  border-left: 0px; 
  border-right: 0px;
  box-shadow: 0px 0px 10px 0.3px rgb(228, 225, 225);
}


.select-box{
  display: flex;
  justify-content: center;
  align-items: center;
}


.selected{
 width: 150px;
 height: 30px;  
 border-radius: 5px;
 box-shadow: 0px 0px 10px 0.3px rgb(228, 225, 225);

}


.img-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

body{
  background-color: rgb(250, 251, 251);
  font-family: 'Barlow', sans-serif;
  font-family: 'Roboto Slab', serif;
  }










